body {
    font-size: 16px;
    margin: 10px;
    font-family: 'Dosis', Arial, sans-serif;
    font-weight: 400;
    line-height: 1.8;
    color: #5c470d;
    justify-content:baseline;
}
.pokemon-card {
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    }

.pokemon-name {
    color: darkblue; 
    text-decoration: underline; 
    margin-bottom: 10px;
}    

button {
    padding: 10px 20px; /* Padding inside the button */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* Remove the border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Change cursor to a pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}